
*~
.#*
\#*\#
*.a
build/
build_*/
# Build artifacts
core
core.*
# Core dumps
*.d
# Debug files
# Dependency files
.DS_Store
*.dSYM/
# Editor files
examples/pilot/controllers/
examples/pilot/pilot
# Executables
*.idb
.idea/
local/
*.o
# Object files
# OS files
*.out
*.pdb
*.so
*.su
*.swo
*.swp
Thumbs.db
.vscode/
